body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.jakub {
    height: 540px;
    width: 1920px;
    background-color: rgb(33,33,33);
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgb(189,189,189);
    text-align: justify;
}

.jakub > div {
    background-color: rgb(33,33,33);
    height: 540px;
    width: 1173px;
    display: flex;
    justify-content: space-between;
}

.jakub > div > * {
    position: relative;
    top: 50px;
}

#pages {
    background-color: rgb(33,33,33);
    width: 271px;
    height: 414px;
}

#pages > div {
    top: -10px;
    position: relative;
    width: 271px;
    box-sizing: border-box;
    border: 1px solid rgb(113,113,113);
    border-radius: 3px;
    margin: 10px 0px;
    align-items: flex-start;
    background-color: rgb(33,33,33);
    display: flex;
    justify-content: space-between;
}

#pages > .jakub-widget {
    border: 0px solid rgb(113,113,113);
    top: -10px;
}

#pages > div p {
    padding: 0px 5px;
}

#big-box {
    height: 171px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#big-box-top {
    height: 16px;
}

#big-box-extension {
    width: 271px;
    height: 125px;
    border-top: 1px solid rgb(113,113,113);
    color: rgb(113,113,113);
}

#twitter-social {
    background-color: rgb(33,33,33);
    width: 273px;
    height: 384px;
}

#flickr {
    background-color: rgb(33,33,33);
    width: 271px;
    height: 316px;
}

#news {
    background-color: rgb(33,33,33);
    width: 272px;
    height: 325px;
}

#twitter-social {
    display: inline;
}

#twitter-social > div {
    top: 30px;
}

#twitter-social > .jakub-twitter {
    width: 273px;
    height: 282px;
    background-color: rgb(33,33,33);
    margin-bottom: 16px;
}

#twitter-social > .jakub-social {
    width: 273px;
    height: 70px;
    background-color: rgb(33,33,33);
    margin-top: 16px;
}

.jakub-widget {
    color: white;
    font-size: 14px;
    background-color: rgb(33,33,33);
}

.jakub-twitter > div {
    height: 65px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(113,113,113);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: rgb(189,189,189);
}

.jakub-twitter > div > i {
    color: rgb(85,172,328);
    height: 10px;
    position: relative;
    top: 10px;
}

.jakub-twitter > .jakub-widget {
    color: white;
    font-size: 14px;
    background-color: rgb(33,33,33);
    border-bottom: none;
}

.jakub-twitter > #twit-three {
    border-bottom: none;
}

.jakub-smallwidgets {
    display: flex;
    background-color: rgb(33,33,33);
    justify-content: space-around;
    align-items: baseline;
}

.jakub-smallwidgets div {
    display: flex;
    color: white;
    font-size: 14px;
    background-color: teal;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

#fb {
    background-color: #3b5999;
}

#tw {
    background-color: rgb(85,172,328);
}

#vk {
    background-color: #4c75a3;
}

#pi {
    background-color: #ff2e56;
}

#tu {
    background-color: #34465d;
}

#dr {
    background-color: #ea4c89;
}

.jakub-images {
    background-color: rgb(33,33,33);
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    height: 272px;
}

.jakub-images > * {
    background-color: blueviolet;
    width: 86px;
    height: 86px;
}

.jakub-windows > div {
    width: 272px;
    height: 46px;
    background-color: rgb(33,33,33);
    margin: 5px 0px 5px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(113,113,113);
    border-radius: 3px;
    color: rgb(113,113,113);
    font-weight: 400;
    display: flex;
    align-items: center;
}

#big-window {
    height: 121px;
    display: flex;
    align-items: flex-start;
}

.jakub-windows > div > p {
    margin-left: 8px;
}

#subscription {
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: white;
    background-color: rgb(132,132,132);
    border: none;
    font-size: 12px;
}