body {
    margin: 0;
    padding: 0;
    background-color: #CFCFCF;
    font-family: 'Roboto', sans-serif;
}
.Sylwia-Main-Box{
	border-radius:10px;
	width:1100px;
	position:relative;
	background:transparent;
	margin: 50px auto;
	height:1000px;
}
.Sylwia-Main-Content{
	border-radius:10px;
	position:relative;
	width:100%;
	height:320px;
	background:white;
	box-sizing:border-box;
	margin: 0;
}
.Sylwia-Picture{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background: url("src/sylwia/0.jpg");
	background-size:cover;
	width:100%;
	height:200px;
	float:left;
}
.Sylwia-Author-Picture{
	background: url("src/sylwia/0a.jpg");
	float:left;
	width:30px;
	height:30px;
	background-size:cover;
	border-radius:50%;
	margin: 5px 12px 0 10px;
}
.Sylwia-Author-Date{
	line-height:150%;
	color:gray;
	font-size: x-small;
}
.Sylwia-Topic{
	padding: 10px 10px 0 10px;
	font-size:20px;
}
.Sylwia-Description{
	padding:5px;
	border-bottom: 1px solid lightgray;
	font-size:14px;
}
.Sylwia-Author{
	margin:12px 0 0 5px;
	box-sizing:border-box;
	border-radius:10px;
	font-size: small;
	font-weight: bold;
}
.Sylwia-Topic2, .Sylwia-Description2, .Sylwia-Author2{
	box-sizing:border-box;
	width:550px;
	float:left;
}
.Sylwia-Topic2{
	padding:5px 0 0 5px;
	font-size:18px;
}
.Sylwia-Author2{
	padding:8px 0 0 0;
	font-size: small;
	font-weight: bold;
}
.Sylwia-Description2{
	padding:5px;
	font-size:14px;
	border-bottom: 1px solid lightgray;
}
.Sylwia-Content{
	position:relative;
	margin:20px 0 20px 0;
	width:100%;
	height:130px;
	background:white;
	border-radius:10px;
}
.Sylwia-Content-Picture1{
	position:relative;
	background: url("src/sylwia/1.jpg");
	background-size:cover;
	width:50%;
	height:130px;
	float:left;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.Sylwia-Content-Picture2{
	background: url("src/sylwia/2.jpg");
	background-size:cover;
	width:50%;
	height:130px;
	float:left;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.Sylwia-Content-Picture3{
	background: url("src/sylwia/3.jpg");
	background-size:cover;
	width:50%;
	height:130px;
	float:left;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}



